.cards {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  flex: 1;
  .backCard {
    background-image: url(../src/images/bg-card-front.png);
    background-size: contain;
    color: white;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;

    padding-top: 80px;

    .date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
    }
  }
  .frontCard {
    background-image: url(../src/images/bg-card-back.png);

    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    align-self: last baseline;
    text-align: center;
    p {
      color: white;
      margin-top: 25%;
    }
  }
}
@media (max-width: 450px) {
  .cards {
    flex-direction: column-reverse;
  }
}
@media (max-width: 375px) {
  .cards {
    flex-direction: column-reverse;
    .frontCard {
      width: 250px;
      align-self: last baseline;
      height: 150px;
      position: absolute;
      top: -20%;
    }
    .backCard {
      width: 250px;

      z-index: 2;
    }
  }
}
